%h1 Mconf-Chat authentication server example

- if current_user
  %p= "Hi, #{current_user.name}!"
  %p= link_to "Click here to logout", destroy_user_session_path, method: 'delete'
- else
  %p= link_to "Click here to login", new_user_session_path
